.post
{
    max-width: 500px;
    background-color: white;
    border: 1px solid lightgray;
    margin-bottom: 45px;
}

.post__image
{
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
 
    width: 100%;
    object-fit: contain;
}
.post__text 
{
    font-weight: normal;
    padding: 20px;
}
.post__header
{
    display: flex;
    align-items: center;
    padding: 20px;
}
.post__avatar
{
    margin-right: 10px;
}